
<div class="page-title-box">
  <h1 class="page-title">Granny On The Go</h1>
</div>
<nav>
  <ul class="nav-box">
    <li class="nav-item">Home</li>
    <li class="nav-item">My Order</li>
    <li class="nav-item login-link">Login</li>
  </ul>


</nav>


