<head>
  <!-- FONTS  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- BODY FONT ---- font-family: 'Libre Baskerville', serif;-->
  <link
    href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet"
  />
  <!-- HEADER FONT ---- font-family: 'Square Peg', cursive;-->
  <link
    href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap"
    rel="stylesheet"
  />
</head>

<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li>
        <a href="#"><i class="fas fa-home"></i>Appetizers</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-user"></i>Mains</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-address-card"></i>Snacks and Dessert</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-project-diagram"></i>Drinks</a>
      </li>
    </ul>
  </div>
</div>
