<head>
  <!-- FONTS  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- BODY FONT ---- font-family: 'Libre Baskerville', serif;-->
  <link
    href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet"
  />
  <!-- HEADER FONT ---- font-family: 'Square Peg', cursive;-->
  <link
    href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap"
    rel="stylesheet"
  />
</head>

<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li>
        <a href="#appetizers"><i class="appetizers"></i>Appetizers</a>
      </li>
      <li>
        <a href="#mains"><i class="mains"></i>Mains</a>
      </li>
      <li>
        <a href="#snacks"
          ><i class="snacks-and-dessert"></i>Snacks and Dessert</a
        >
      </li>
      <li>
        <a href="#drinks"><i class="drinks"></i>Drinks</a>
      </li>
    </ul>
  </div>
</div>
