<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Style Sheets  -->
  <link rel="stylesheet" href="/styles/login.css">
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/footer.css" />

  <!-- FONTS  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- BODY FONT ---- font-family: 'Libre Baskerville', serif;-->
  <link
    href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet"
  />
  <!-- HEADER FONT ---- font-family: 'Square Peg', cursive;-->
  <link
    href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap"
    rel="stylesheet"
  />

  <title>Login</title>
</head>
<body>
  <header>
    <% include partials/_header.ejs %>
  </header>

  <div class="wrapper">
    <h2 class="form-heading">Please login</h2>
    <form class="form-signin" action="/login" method="POST">
      <input type="text" class="form-control" name="username" placeholder="Username"/>
      <input type="password" class="form-control" name="password" placeholder="Password"/>
      <button class="login-button form-control" type="submit">Login</button>
    </form>
  </div>


  <footer>
    <% include partials/_footer.ejs %>
  </footer>

</body>
</html>
