<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Restaurant Menu</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/sidebar.css" />
    <link rel="stylesheet" href="/styles/restaurant.css" />

    <!-- FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- BODY FONT ---- font-family: 'Libre Baskerville', serif;-->
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <!-- HEADER FONT ---- font-family: 'Square Peg', cursive;-->
    <link
      href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap"
      rel="stylesheet"
    />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <header><% include partials/_header.ejs %></header>
    <div class="cover-photo"></div>
    <div class="nav-and-section">
      <nav><% include partials/_sidebar.ejs %></nav>
      <section class="restaurant-and-menu">
        <div class="restaurant-info">
          <h2 class="restaurant-name">McGranny's (123 King St)</h2>
          <p class="rating">★ 4.9 (47 reviews) • Italian</p>
          <p class="slogan">
            Your local Italian nonna. Filling bellies since 1989.
          </p>
        </div>
        <div class="container">
          <div class="menu">
            <h2 class="menu-group-heading">
              <a id="appetizers">Appetizers</a>
            </h2>
            <div class="menu-group" id="appetizers-container"></div>
          </div>

          <div class="menu">
            <h2 class="menu-group-heading">
              <a id="mains">Mains</a>
            </h2>
            <div class="menu-group" id="mains-container"></div>
          </div>

          <div class="menu">
            <h2 class="menu-group-heading">
              <a id="snacks">Snacks and Dessert</a>
            </h2>
            <div class="menu-group" id="snacks-container"></div>
          </div>

          <div class="menu">
            <h2 class="menu-group-heading">
              <a id="drinks">Drinks</a>
            </h2>
            <div class="menu-group" id="drinks-container"></div>
          </div>
        </div>
      </section>
    </div>
    <div class="cart">
      <p class="title">Items in Cart</p>
      <div class="items-list">
        <div class="item-container">
          <p class="item-quantity">5</p>
          <p class="item-name">Pickles</p>
        </div>
      </div>
    </div>
    <input
      class="checkout"
      type="button"
      onClick="location.href='/my-order'"
      value="Checkout (0) 🛒"
    />
  </body>

  <footer><% include partials/_footer.ejs %></footer>
</html>
