$background-offWhite: #f8f6ed;
$background-creme: #ede2b6;
$red: #c53d34;
$headerfont: "Square Peg", cursive;
$tabfont: "Libre Baskerville", serif;

.header-box {
  // border: 1px solid green ;
  background-color: $background-offWhite;
  border-bottom: 2px solid $red;
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.page-title-box {
  // border: 1px solid red;
  margin: 0;

  .page-title {
    color: $red;
    margin: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    font-family: $headerfont;
    font-size: 50px;
  }
}

.nav-contianer {
  width: 300px;
}

.nav-box {
  // border: 1px solid blue;
  padding: 0;
  margin: 0.7rem 0;
  width: 600px;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: $tabfont;
}

.nav-item {
  list-style: none;
}
.nav-item a {
  color: $red;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
  color: red;
}
