$background-offWhite: #F8F6ED;
$background-creme: #EDE2B6;
$red: #C53D34;

.page-title-box {
  // border: 1px solid red;
  background-color: $background-offWhite;
  width: 100%;
  height: 10vh;

  .page-title {
    padding: 1.5rem 3rem;
    margin: 0;
  }
}

.nav-box{
  // border: 1px solid blue;
  background-color: $background-creme;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.nav-item {
  color: $red;
  list-style: none;
  margin: 0 2rem;
  padding: 1rem 2rem;
}



.login-link {
  justify-self: flex-end;
}
