body {
  background-image: url(../images/Nonna.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100vw 100vh;
  #search-form {
    display: flex;
    justify-content: flex-end;
    padding-top: 15%;
    padding-right: 10vh;

    textarea {
      background-color: #f8f6ed;
      border: none;
      width: 35%;
      margin-bottom: 0.5em;
      margin-right: 1em;
      resize: none;
      height: 1.3em;
      text-align: center;
      border-radius: 7px;
      font-size: 200%;
    }
  }
}
