$lemonmeringue: #ede2b6;
$floralwhite: #f8f6ed;
$bodyfont: "Libre Baskerville", serif;
$descriptionfontsize: 13px;

body {
  background-color: $lemonmeringue;
  background-image: url("https://www.transparenttextures.com/patterns/p6.png");
  margin: 0;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-right: 3em;
}

.my-order-summary {
  display: flex;
  flex-direction: column;
  border: 1px solid #3730299b;
  border-radius: 15px;
  margin-top: 4em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
  padding-top: 1em;
  font-family: $bodyfont;
  background-color: $floralwhite;
}

.grandma {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 50%;
}

.grandma-specifications {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3em;
}

.grandma-specifications h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.grandma-specifications h6 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.498);
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.item-container{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.item-quantity {
  border: 1px solid rgb(213, 210, 210);
  width: 30px;
  height: auto;
  text-align: center;
  padding: 4px;
  margin-right: 1em;
  margin-top: 1em;
  font-weight: 400;
}

.item-name {
  font-size: small;
  margin: 0;
  margin-top: 1em;
}

.item-price {
  font-size: small;
  margin: 0;
  margin-top: 1em;
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.498);

}

img {
  width: 180px;
  height: auto;
}

.order-confirmation-summary {
  @extend .my-order-summary;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  padding-bottom: 2em;
  margin-bottom: 8em;
}

.user-info {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.user-header {
  margin-bottom: 10px;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.name-header {
  padding-right: 1em;
  margin: 0;
}

.name-body {
  font-size: small;
  font-weight: 400;
  margin: 0;
}

.number {
  @extend .name;
}

.number h5 {
  @extend .name-header;
  margin-top: 1em;
}

.number p {
  @extend .name-body;
  margin-top: 0.7em;
}

.confirmation-status p {
  color: green;
  font-weight: 700;
}

.time h3 {
  font-family: $bodyfont;
  font-weight: 700;
}

.time p {
  font-family: $bodyfont;
  font-weight: 400;
}

// Needs to be worked on
@media (max-width: 850px) and (min-width: 200px) {
  .button-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// Needs to be worked on
@media (max-width: 2000px) and (min-width: 850px) {
  .button-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

#order-again {
  height: 4em;
  width: 20em;
  margin-left: 2em;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 0;
  margin-bottom: 1em;
  cursor: pointer;
}

#order-again:hover {
  background-color: rgba(0, 0, 0, 0.832);
}

#rate-order {
  @extend #order-again;
  background-color: rgb(225, 225, 225);
  border: 0;
  color: black;
}

#rate-order:hover {
  background-color: rgb(208, 208, 208);
}
