$bodyfont: "Libre Baskerville", serif;
$floralwhite: #f8f6ed;
$lemonmeringue: #ede2b6;

body {
  display: flex;
  flex-direction: column;
  font-family: $bodyfont;
  background-color: $lemonmeringue;
  background-image: url("https://www.transparenttextures.com/patterns/p6.png");
  margin: 0;
  height: 100%;
}

.cover-photo {
  width: 100%;
  height: 150px;
  background-image: url("https://thumbs.dreamstime.com/b/baking-background-banner-ingredients-variety-cooking-dough-dark-rustic-table-recipe-making-chocolate-cake-cookies-181356666.jpg");
  z-index: -1;
}

.restaurant-and-menu {
  padding: 0;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0;
  padding: 1.5em;
  font-size: 14px;
}

.restaurant-name {
  margin-bottom: 0;
}

.rating {
  margin-top: 0;
}

.slogan {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: $bodyfont;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6;
}

.nav-and-section {
  display: flex;
  flex-direction: row;
}

.add {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #c53d34;
  background-color: #c53d34;
  color: white;
  margin-left: 10px;
}

.add:hover {
  opacity: 80%;
}

.remove {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #c53d34;
  background-color: #c53d34;
  color: white;
  margin-left: 10px;
}

.remove:hover {
  opacity: 80%;
}

.end-of-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.checkout {
  cursor: pointer;
  height: 50px;
  width: 160px;
  border-radius: 20px;
  border: 2px solid #c53d34;
  background-color: #f8f6ed;
  color: #c53d34;
  position: fixed;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%), 0px 4px 4px rgb(0 0 0 / 4%);
  bottom: 40px;
  left: 80%;
  transform: translateY(-100%);
}

.checkout:hover {
  opacity: 80%;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }

  .restaurant-info {
    font-size: 16px;
  }
}
